* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }

#imgBg {
    background-repeat: no-repeat;
    height: 100vh;
    background: url(myapp/static/image-blue.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed; 
}

h2 {
    text-decoration: overline #79d70f;
    letter-spacing: 2px;
    line-height: 2.5;
    margin-top: 20px;
    font-weight: 700;
}

h4 {
    text-decoration: overline #79d70f;
}

table {
    opacity: 0.6;
}
